* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}

body {
  /* background-color: #955932; */
  background-color: lightgrey;
}

.window {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-image: url("path-to-your-image.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
}

/* window */
.bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89vh;
  width: 100vw;
}

/* overall board for both players and center cards */
.board {
  height: 88vh;
  width: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* player boards */
.player-board {
  height: 37.5vh;
  width: 82.5vh;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 0.3vh;
}

/* card */
.card {
  height: 7.5vh;
  width: 7.5vh;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 0.6vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease;
  background-color: transparent;
}

/* center cards */
.center-cards {
  height: 10vh;
  width: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vh;
  cursor: grab;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.center-card {
  height: 9.5vh;
  width: 9.5vh;
  border-radius: 1vh;
}

.center-cards:active {
  cursor: grabbing;
}

/* player hand */
.player-hand {
  height: 66vh;
  width: 22vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  cursor: grab;
  margin-right: 2vh;
}

.player-card {
  height: 22vh;
  width: 22vh;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 0.6vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease;
  background-color: transparent;
}

.player-hand:active {
  cursor: grabbing;
}

.red-letters {
  color: red;
}

.noBackground {
  background-color: transparent;
}

.hide {
  height: 0;
  width: 0;
}

.right-bar {
  height: 80vh;
  width: 35vh;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dice-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice {
  height: 11vh;
  width: 11vh;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 8%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0.6vh solid black;
  margin-bottom: 1.5vh;
}

.hide {
  border: none;
  background-size: 0%;
}

.margin-left {
  margin-left: 2vh;
}

.margin-bottom {
  margin-bottom: 2vh;
}

.button {
  height: 5vh;
  width: 12vh;
  margin-bottom: 1.5vh;
  border-radius: 3vh;
  font-size: 2.2vh;
  border: 0.4vh solid black;
  background-color: white;
}

.button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.resource-tracker {
  height: 11vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-bar {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4vh;
  border: 0.5vh solid gold; /* Basic gold border */
  box-shadow: 0 0 1.5vh gold, /* Outer glow */ 0 0 1.5vh darkgoldenrod,
    /* Outer darker glow for depth */ inset 0 0 1vh gold; /* Inner glow */
}

.blue-background {
  background: linear-gradient(to right, #00008b, #1e90ff);
  border-left: none;
}

.red-background {
  background: linear-gradient(to left, #b22222, #ff6347);
}

.resource-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 4.5vh;
  width: 4.5vh;
  border-radius: 50%;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.big {
  height: 8vh;
  width: 8vh;
}

.resource {
  height: 3.5vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  font-size: 3.5vh;
  color: white;
  margin-top: 0.2vh;
}

/* message box */
.message-box {
  height: 40vh;
  width: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.messages {
  height: 91%;
  width: 100%;
  background-color: white;
  overflow-y: auto;
}

.text-box {
  height: 9%;
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  height: 100%;
  width: 85%;
  font-size: 14pt;
}

.send-button {
  height: 100%;
  width: 15%;
  font-size: 14pt;
}

.player-message {
  height: 10%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  font-size: 14pt;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-icon {
  height: 80%;
  width: 8%;
  border-radius: 50%;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-left: 1%;
  margin-right: 1%;
}

.message {
  height: 100%;
  width: 92%;
  display: flex;
  align-items: center;
}
